@page "/"

<PageTitle>Главная</PageTitle>

<h1>Лабораторные работы 2-4</h1>
<h2>Вариант 9 - "Приказы на отпуск"</h2>
<h3>Структура таблиц</h3>
<div>
    <table>
        <thead>
            <tr>
                <th>Сотрудники</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Id</li>
                        <li>Фамилия</li>
                        <li>Имя</li>
                        <li>Отчество</li>
                        <li>Должность</li>
                        <li>Подразделение</li>
                        <li>Дата приема на работу</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Отпуска</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Id</li>
                        <li>Тип</li>
                        <li>Оплата</li>
                        <li>Льготы</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Документы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Id</li>
                        <li>Номер</li>
                        <li>Дата регистрации</li>
                        <li>Дата начала отпуска</li>
                        <li>Дата окончания отпуска</li>
                        <li>Код сотрудника</li>
                        <li>Код отпуска</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
